#InfoOverlay {
	position: absolute;
    bottom: 0px;
    background: rgba(0, 0, 0, .8);
    width: 800px;
    margin-left: -400px;
    left: 50%;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.axisWhite line{
  stroke: white;
}

.axisWhite path{
  stroke: white;
}

.axisWhite text{
  fill: white;
}

.select2-container {
    left: 80%;
    top: 65%;
    position: absolute;
}

#heroRoles {
	position: absolute;
    top: -650px;
    left: -300px;
}

#heroRolesTitle {
	position: absolute;
    top: -680px;
    left: -300px;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.d3-tip {
  line-height: 1;
  font: 10px sans-serif;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
